<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="limao">Button</ion-back-button>
    </ion-buttons>
    <ion-title color="limao">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item color="dark" class="ion-small-padding">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/rtx_4090.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>Nvidia RTX 4090</h2>
        <p>Nvidia</p>
      </ion-label>
      <ion-badge color="dark">R$ 1.490,50</ion-badge>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item color="dark" class="ion-small-padding">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/CINEMA_610.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>JBL Home Theater Cinema 610</h2>
        <p>Bluetooth 5.0 - Preto</p>
      </ion-label>
      <ion-badge color="dark">R$ 2.275,00</ion-badge>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item color="dark" class="ion-small-padding">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/tv.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>TV 50' TLC</h2>
        <p>50 Polegadas 4K - Prata</p>
      </ion-label>
      <ion-badge color="dark">R$ 3.376,90</ion-badge>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item color="dark" class="ion-small-padding">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/echo-dot-com-relogio-4a-geracao-smart-speaker-com-relogio-e-alexa_1_1200.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>Alexa - Echo Dot Com Relógio</h2>
        <p>4ª Geração - Branca</p>
      </ion-label>
      <ion-badge color="dark">R$ 1.233,70</ion-badge>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>

