<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="limao">Button</ion-back-button>
    </ion-buttons>
    <ion-title color="limao">Smartphones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item color="dark" class="ion-small-padding">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/$_57.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>Samsung Galax S23 Ultra 5g</h2>
        <p>Modelo S23 Ultra 5g - Preto</p>
      </ion-label>
      <ion-badge color="dark">R$ 8.490,50</ion-badge>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item color="dark" class="ion-small-padding">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/iphone-14-pro-max_7386.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>Iphone 14 Pro</h2>
        <p>Modelo 14 Pro - Gold</p>
      </ion-label>
      <ion-badge color="dark">R$ 7.275,00</ion-badge>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item color="dark" class="ion-small-padding">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/poco_m5.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>Xiaomi Poco M5</h2>
        <p>Modelo Poco M5 - Preto</p>
      </ion-label>
      <ion-badge color="dark">R$ 2.376,90</ion-badge>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item color="dark" class="ion-small-padding">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/img/S22.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>Samsung Galax S22 5g</h2>
        <p>Modelo S22 5g - Branco</p>
      </ion-label>
      <ion-badge color="dark">R$ 3.233,70</ion-badge>

      <ion-button expand="block" slot="end">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
