<ion-header>
  <ion-toolbar color="roxoclaro">

    <ion-buttons slot="start">
      <ion-back-button color="roxolilas"></ion-back-button>
    </ion-buttons>

    <ion-title>Gaming Gear</ion-title>

    <ion-buttons slot="end" routerLink="/carrinho">
      <ion-button color="roxolilas">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge>{{qtdeItensCarrinho}}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-list>
    <ion-item lines="full" *ngFor="let produto of listaProdutos" color="roxomedio">

      <ion-thumbnail slot="start">
        <img [src]="produto.foto" />
      </ion-thumbnail>
    
      <ion-label>
        <h2 class="custom-title">{{ produto.nome | uppercase }}</h2>
        <p>{{ produto.descricao }}</p>
      </ion-label>
    
      <ion-badge color="roxoescuro">R$ {{ produto.preco | number: '1.2-2' }}</ion-badge>
    
      <ion-button expand="block" slot="end" color="roxolilas" (click)="addProdutoCarrinho(produto)">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    
    </ion-item>
  </ion-list>
</ion-content>
