<ion-header>
  <ion-toolbar color="dark">
    <ion-title color= "limao">
      TechNova Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card color="dark" class="ion-text-center"  routerLink="/promocoes">
            <img
            src="../../assets/img/promo.gif"
            alt="">
            <ion-item lines="none" color="dark">
              <ion-label class="titulo promocao">Confira Nossas Promoção</ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card color="dark" routerLink="/gamer">
            <img
            src="../../assets/img/Produtos.png"
            alt="">
            <ion-item lines="full" color="dark">
              Gaming Gear
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card color="dark" routerLink="/domesticos">
            <img
            src="../../assets/img/smart.png"
            alt="">
            <ion-item lines="full" color="dark">
              Eletronicos Domésticos
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card color="dark" routerLink="/smartphones">
            <img
            src="../../assets/img/smartphones.png"
            alt="">
            <ion-item lines="full" color="dark">
              Smartphones
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card color="dark" routerLink="/componentes">
            <img
            src="../../assets/img/produtos 4.png"
            alt="">
            <ion-item lines="full" color="dark">
              Componentes
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>

