// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #070510;
  --ion-background-color: rgb(7, 5, 16);

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** roxoEscuro **/
  --ion-color-roxoescuro: #070510;
	--ion-color-roxoescuro-rgb: 7,5,16;
	--ion-color-roxoescuro-contrast: #ffffff;
	--ion-color-roxoescuro-contrast-rgb: 255,255,255;
	--ion-color-roxoescuro-shade: #06040e;
	--ion-color-roxoescuro-tint: #201e28;

  /** roxoMedio **/
	--ion-color-roxomedio: #2e2050;
	--ion-color-roxomedio-rgb: 46,32,80;
	--ion-color-roxomedio-contrast: #ffffff;
	--ion-color-roxomedio-contrast-rgb: 255,255,255;
	--ion-color-roxomedio-shade: #281c46;
	--ion-color-roxomedio-tint: #433662;

  /** roxoLilas **/
	--ion-color-roxolilas: #c49cd6;
	--ion-color-roxolilas-rgb: 196,156,214;
	--ion-color-roxolilas-contrast: #000000;
	--ion-color-roxolilas-contrast-rgb: 0,0,0;
	--ion-color-roxolilas-shade: #ac89bc;
	--ion-color-roxolilas-tint: #caa6da;

  /** roxoClaro **/
  --ion-color-roxoclaro: #674a86;
	--ion-color-roxoclaro-rgb: 103,74,134;
	--ion-color-roxoclaro-contrast: #ffffff;
	--ion-color-roxoclaro-contrast-rgb: 255,255,255;
	--ion-color-roxoclaro-shade: #5b4176;
	--ion-color-roxoclaro-tint: #765c92;
}

.ion-color-roxoescuro {
	--ion-color-base: var(--ion-color-roxoescuro);
	--ion-color-base-rgb: var(--ion-color-roxoescuro-rgb);
	--ion-color-contrast: var(--ion-color-roxoescuro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-roxoescuro-contrast-rgb);
	--ion-color-shade: var(--ion-color-roxoescuro-shade);
	--ion-color-tint: var(--ion-color-roxoescuro-tint);
}

.ion-color-roxomedio {
	--ion-color-base: var(--ion-color-roxomedio);
	--ion-color-base-rgb: var(--ion-color-roxomedio-rgb);
	--ion-color-contrast: var(--ion-color-roxomedio-contrast);
	--ion-color-contrast-rgb: var(--ion-color-roxomedio-contrast-rgb);
	--ion-color-shade: var(--ion-color-roxomedio-shade);
	--ion-color-tint: var(--ion-color-roxomedio-tint);
}

.ion-color-roxolilas {
	--ion-color-base: var(--ion-color-roxolilas);
	--ion-color-base-rgb: var(--ion-color-roxolilas-rgb);
	--ion-color-contrast: var(--ion-color-roxolilas-contrast);
	--ion-color-contrast-rgb: var(--ion-color-roxolilas-contrast-rgb);
	--ion-color-shade: var(--ion-color-roxolilas-shade);
	--ion-color-tint: var(--ion-color-roxolilas-tint);
}

.ion-color-roxoclaro {
	--ion-color-base: var(--ion-color-roxoclaro);
	--ion-color-base-rgb: var(--ion-color-roxoclaro-rgb);
	--ion-color-contrast: var(--ion-color-roxoclaro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-roxoclaro-contrast-rgb);
	--ion-color-shade: var(--ion-color-roxoclaro-shade);
	--ion-color-tint: var(--ion-color-roxoclaro-tint);
}
