// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #333333;
  --ion-background-color: rgb(51, 51, 51);

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /**prata**/
  --ion-color-prata: #C0C0C0;
	--ion-color-prata-rgb: 192,192,192;
	--ion-color-prata-contrast: #000000;
	--ion-color-prata-contrast-rgb: 0,0,0;
	--ion-color-prata-shade: #a9a9a9;
	--ion-color-prata-tint: #c6c6c6;

  /**limao**/
  --ion-color-limao: #99CC33;
	--ion-color-limao-rgb: 153,204,51;
	--ion-color-limao-contrast: #000000;
	--ion-color-limao-contrast-rgb: 0,0,0;
	--ion-color-limao-shade: #87b42d;
	--ion-color-limao-tint: #a3d147;

  /**azulescuro**/
  --ion-color-azulescuro: #003366;
	--ion-color-azulescuro-rgb: 0,51,102;
	--ion-color-azulescuro-contrast: #ffffff;
	--ion-color-azulescuro-contrast-rgb: 255,255,255;
	--ion-color-azulescuro-shade: #002d5a;
	--ion-color-azulescuro-tint: #1a4775;

  /**cinzaEscuro**/
  --ion-color-cinzaescuro: #333333;
	--ion-color-cinzaescuro-rgb: 51,51,51;
	--ion-color-cinzaescuro-contrast: #ffffff;
	--ion-color-cinzaescuro-contrast-rgb: 255,255,255;
	--ion-color-cinzaescuro-shade: #2d2d2d;
	--ion-color-cinzaescuro-tint: #474747;
}

.ion-color-cinzaescuro {
	--ion-color-base: var(--ion-color-cinzaescuro);
	--ion-color-base-rgb: var(--ion-color-cinzaescuro-rgb);
	--ion-color-contrast: var(--ion-color-cinzaescuro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-cinzaescuro-contrast-rgb);
	--ion-color-shade: var(--ion-color-cinzaescuro-shade);
	--ion-color-tint: var(--ion-color-cinzaescuro-tint);
}

.ion-color-prata {
	--ion-color-base: var(--ion-color-prata);
	--ion-color-base-rgb: var(--ion-color-prata-rgb);
	--ion-color-contrast: var(--ion-color-prata-contrast);
	--ion-color-contrast-rgb: var(--ion-color-prata-contrast-rgb);
	--ion-color-shade: var(--ion-color-prata-shade);
	--ion-color-tint: var(--ion-color-prata-tint);
}

.ion-color-limao {
	--ion-color-base: var(--ion-color-limao);
	--ion-color-base-rgb: var(--ion-color-limao-rgb);
	--ion-color-contrast: var(--ion-color-limao-contrast);
	--ion-color-contrast-rgb: var(--ion-color-limao-contrast-rgb);
	--ion-color-shade: var(--ion-color-limao-shade);
	--ion-color-tint: var(--ion-color-limao-tint);
}

.ion-color-azulescuro {
	--ion-color-base: var(--ion-color-azulescuro);
	--ion-color-base-rgb: var(--ion-color-azulescuro-rgb);
	--ion-color-contrast: var(--ion-color-azulescuro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-azulescuro-contrast-rgb);
	--ion-color-shade: var(--ion-color-azulescuro-shade);
	--ion-color-tint: var(--ion-color-azulescuro-tint);
}
